/** {
	box-sizing: border-box;
}
*/
body {
	padding: 0;
	margin: 0;
	background-color: #f3f3f3;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	overflow: hidden;
}

button {
	background: none;
	border: none;
}

/* Stories */

.stories-wrapper {
  width: 100vw;
  height: 100vh;
  perspective: 400px;
  overflow: hidden;
}

.stories {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-50vw);
}

/* Story (single) */

.story {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
}

.story__cover {
	z-index: 20;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 1);
}

.story__top {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
}

.story__details {
	display: flex;
	align-items: center;
	margin: 16px 0 0 16px;
}

.story__avatar {
	width: 40px;
	height: 40px;
	margin-right: 8px;
	border-radius: 50%;
	background-size: cover;
}

.story__user {
	margin-right: 8px;
	color: white;
	font-weight: 500;
	letter-spacing: 0.02em;
}

.story__time {
	color: white;
	opacity: 0.5;
	letter-spacing: 0.02em;
}

.story__bottom {
	z-index: 10;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.story__send-button {
	padding: 16px;
	color: white;
	font-size: 16px;
}

.story__video {
	/* Make video to at least 100% wide and tall */
	min-width: 100%;
	min-height: 100%;

	/* Setting width & height to auto prevents the browser from stretching or squishing the video */
	width: auto;
	height: auto;

	/* Center the video */
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

